<div class="jumbotron">
    <h1 class="display-4 text-center">Wired News Scraper</h1>
    <div class="text-center scrape">
        <a href="/scrape" class="btn btn-outline-dark get-news">Get the news</a>
    </div>
</div>
<div class="container">
    {{#each articles}}
    <div class="row">
        <div class="col-md-1">
            {{#if this.thumbnail}}
            <img src="{{this.thumbnail}}" alt="article" class="thumbnail">
            {{else}}
            <img src="img/wired.jpg" alt="article" class="thumbnail">
            {{/if}}
        </div>
        <div class="col-md-8 text">
            <p>{{this.title}}
                <button class="btn btn-outline-dark comment-btn" data-id="{{this._id}}">Comment</button>
            </p>
            
            <p>By: {{this.byline}} | 
                {{#if this.section}}
                Section: {{this.section}}
                {{else}}
                Section: N/A
                {{/if}} | 
                <a href="https://www.wired.com{{this.source}}" target="_blank">Read on Wired.com</a>
            </p>
            <hr>
        </div>
        <div class="col-md-3"></div>
    </div>
    {{/each}}
</div>