<div class="jumbotron">
    <h1 class="display-4 text-center title">Wired.com News Scraper</h1>
    <div class="text-center scrape">
        <a href="/scrape" class="btn btn-outline-dark get-news">Get the news</a>
    </div>
</div>

{{!-- Modal to confirm comment delete --}}
<div id="confirmDelete" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="confirm delete comment" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-body">
            <p>Are you sure you want to delete this comment?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-dark" id="delete-comment">Delete Comment</button>
        </div>
    </div>
  </div>
</div>
{{!-- End of delete Modal --}}

<div class="container">
    {{#each articles}}
    <div class="row">
        <div class="col-md-1">
            {{#if this.thumbnail}}
            <img src="{{this.thumbnail}}" alt="article" class="thumbnail">
            {{else}}
            <img src="img/wired.jpg" alt="article" class="thumbnail">
            {{/if}}
        </div>
        <div class="col-md-8 text">
            <p>{{this.title}}
                <button class="btn btn-outline-dark comment-btn" data-id="{{this._id}}">Comment</button>
            </p>
            <p>By: {{this.byline}} | 
                {{#if this.section}}
                Section: {{this.section}}
                {{else}}
                Section: N/A
                {{/if}} | 
                <a href="https://www.wired.com{{this.source}}" target="_blank" class="link">Read on Wired.com</a>
            </p>
            <p>
                {{#if this.comments}}
                <h5 class="lead card-title text-center">Comments</h5> <br>
                {{#each this.comments}}
                <div class="card">
                    <div class="card-body rounded">
                        <div class="card-text">
                            <span class="comment-user">{{this.username}}</span><br>
                            <span class="comment-text">{{this.comment}}</span>
                            <button class="delete-btn" data-id="{{this._id}}">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}
            </p>
            <hr>
        </div>
        <div class="col-md-3">
            <div class="comment-{{this._id}}"></div>
        </div>
    </div>
    {{/each}}
</div>